h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* color: red; */
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: black;
}

th, td {
    background-color: white;
    border-color: pink;

  }

.white {
    background-image: linear-gradient(to bottom right, red, black)
}

.red {
    /* background-image: url("eepy.jpg"); */
    background-color: red;
}

.yellow {
    background-image: linear-gradient(to bottom right, white, yellow)
}

.blue {
    background-color: navy;
    color: white;
}

.black {
    background-image: linear-gradient(to bottom right, yellow, green)
}

.number {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.letter {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
#chessboard {
    float:inline-start;
    border-style: solid;
    border-color: pink;
    height: 200px;
    width: 200px;
}

#butn {
    border-radius: 50px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    height: 40px;
    width: 150px;;
    font-size: small;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slack {
    border-radius: 5px;
    background-color: #2EB67D;
    color:white;
    font-weight: bold;
    font-size: x-small;
    border:none;
    width: 80px;
    height: 25px;
}

#tailwindcss {
    border-radius: 2px;
    background-color: #3F83F8;
    color:white;
    font-weight: bold;
    border:none;
    height: 40px;
    font-size: small;
    width: 90px;
    border-bottom: 4px solid indigo;
}

#indiehackers {
    border-radius: 2px;
    background-image: linear-gradient(to right, rgb(245, 95, 170), rgb(255, 85, 0));
    border:none;
    font-size: small;
    color:white;
    font-weight: bold;
    height:45px;
    width:90px;
}

button{
    height:45px;
    width:90px;
    border:none;
    font-size: small;
    color:white;

    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}