h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* color: red; */
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: black;
}

th, td {
    background-color: white;
    border-color: pink;

  }

.white {
    background-image: linear-gradient(to bottom right, red, black)
}

.red {
    /* background-image: url("eepy.jpg"); */
    background-color: red;
}

.yellow {
    background-image: linear-gradient(to bottom right, white, yellow)
}

.blue {
    background-color: navy;
    color: white;
}

.black {
    background-image: linear-gradient(to bottom right, yellow, green)
}

.number {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.letter {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
#chessboard {
    float:inline-start;
    border-style: solid;
    border-color: pink;
    height: 200px;
    width: 200px;
}

#butn {
    border-radius: 50px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    height: 40px;
    width: 150px;;
    font-size: small;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slack {
    border-radius: 5px;
    background-color: #2EB67D;
    color:white;
    font-weight: bold;
    font-size: x-small;
    border:none;
    width: 80px;
    height: 25px;
}

#tailwindcss {
    border-radius: 2px;
    background-color: #3F83F8;
    color:white;
    font-weight: bold;
    border:none;
    height: 40px;
    font-size: small;
    width: 90px;
    border-bottom: 4px solid indigo;
}

#indiehackers {
    border-radius: 2px;
    background-image: linear-gradient(to right, rgb(245, 95, 170), rgb(255, 85, 0));
    border:none;
    font-size: small;
    color:white;
    font-weight: bold;
    height:45px;
    width:90px;
}

#submit {
    height:45px;
    width:90px;
    border:none;
    font-size: x-small;
    color:white;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to bottom right, green, pink);
}

#textbox{
    height: 120px;
    font-family: sans-serif;
}

.things {
    align-items: flex-start;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }

#calculation {
    display: flex;
    align-content: flex-start;
}

#calculatorDisplay {
    display: flex;
    justify-content: flex-start;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
  }

#primeNumbers {
    display: flex;
    justify-content: flex-start;
}